<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tpcm">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Premissão para aceder a localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TPCM">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB9W-3rfRDLxijeO_FnQL8YNGBUspxeI9Y" />

        <activity
            android:name=".aplication.MapsAtividade"
            android:exported="false"/>
        <activity
            android:name=".aplication.MakeMeDriver"
            android:exported="false" />
        <activity
            android:name=".aplication.Chat"
            android:exported="false" />
        <activity
            android:name=".aplication.MoreInfo"
            android:exported="false" />
        <activity
            android:name=".aplication.HistBoleiasAceites"
            android:exported="false" />
        <activity
            android:name=".aplication.QrCode"
            android:exported="false" />
        <activity
            android:name=".aplication.WishList"
            android:exported="false" />
        <activity
            android:name=".aplication.BoleiaCondutor"
            android:exported="false" />
        <activity
            android:name=".aplication.ScanQrCode"
            android:exported="false" />
        <activity
            android:name=".aplication.EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".aplication.Perfil"
            android:exported="false" />
        <activity
            android:name=".aplication.SearchBoleiaList"
            android:exported="false" />
        <activity
            android:name=".aplication.SearchBoleia"
            android:exported="false" />
        <activity
            android:name=".aplication.HistoricoUser"
            android:exported="false" />
        <activity
            android:name=".aplication.AddBoleiaSemHist"
            android:exported="false" />
        <activity
            android:name=".aplication.AddBoleiaNaoHabilitado"
            android:exported="false" />
        <activity
            android:name=".aplication.Boleia"
            android:exported="false" />
        <activity
            android:name=".aplication.CriarBoleia"
            android:exported="false" />
        <activity
            android:name=".aplication.SignUp"
            android:exported="false" />
        <activity
            android:name=".aplication.CaptureActivityPortrait"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>